/*div.login-form div {display:inline-block;} div.login-form div:after { clear: both; height: 0; visibility: hidden; } div.login-form {width:450px;float:left;} div.login-form input[type="text"],div.login-form input[type="password"] {width:300px; background-color:#f2f2ef;border:1px solid #eaeaea;border-radius:2px;line-height:40px;height:40px;padding:5px 25px 5px 5px;transition: border-color 300ms ease-in-out 0s;} div.login-form input[type="text"]:focus, div.login-form input[type="password"]:focus {border:1px solid #c6c6c6;} div.login-form input[type="text"] +label, div.login-form input[type="password"] + label {color:#c6c6c3;margin-left:-20px;width:13px;} div.login-form div.field {width:450px;margin-bottom:10px;} div.login-form div.field_label {width:150px;line-height:40px;float:left;font-size:18px;font-weight:normal;} div.login-form div.buton { float:right; color:white;background-color:#17a6e9;border-radius:2px;padding:12px;font-size:16px; filter: alpha(opacity=80); opacity: 0.8; transition: opacity 150ms ease-in-out 0s; } div.login-form div.buton:hover{ cursor:pointer;filter: alpha(opacity=100); text-shadow: 1px 1px #148dc6; opacity: 1;} */div.checkboks input[type=checkbox] {
  display: none;
  border: 0px;
  margin: 0px;
} /* to hide the checkbox itself */div.checkboks input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

div.checkboks input[type=checkbox] + label:before {
  content: "\f096";
} /* unchecked icon */div.checkboks input[type=checkbox] + label:before {
  width: 16px;
  text-align: left;
} /* space between checkbox and label */div.checkboks input[type=checkbox]:checked + label:before {
  content: "\f14a";
} /* checked icon */div.checkboks input[type=checkbox]:checked + label:before {
  width: 16px;
  text-align: left;
} /* allow space for check mark */div.checkboks label {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  line-height: 18px;
  white-space: nowrap;
}

div.login-form {
  width: 100%;
  float: left;
}

div.login-form {
  padding: 0px;
  font-size: 18px;
  display: table;
}

div.login-form .t {
  display: table;
  width: 100%;
  padding: 20px 30px;
}

div.login-form .r {
  display: table-row;
}

div.login-form .r1 {
  display: table-row;
}

div.login-form .r1 .c {
  text-align: left;
  height: 60px;
}

div.login-form .c {
  display: table-cell;
  vertical-align: middle;
}

div.login-form .c1 {
  display: table-cell;
  vertical-align: top;
}

div.login-form .titlu.c {
  height: 45px;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #ebebeb;
  text-align: left;
  padding-left: 30px;
}

div.login-form div.field {
  margin-bottom: 10px;
}

div.login-form div.field_label {
  width: 170px;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  padding-right: 10px;
}

div.login-form div.left1 {
  float: left;
  font-size: 14px;
  margin-top: 2px;
}

div.login-form div.buton {
  height: 40px;
}

div.login-form input[type="text"],div.login-form input[type="password"] {
  width: 100%;
  background-color: #f2f2ef;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  line-height: 40px;
  height: 40px;
  padding: 5px 25px 5px 5px;
  transition: border-color 300ms ease-in-out 0s;
  outline: none;
  display: inline-block;
}

div.login-form input[type="text"] +label ,div.login-form input[type="password"] +label {
  width: 20px;
  height: 40px;
  line-height: 40px;
  transition: border-color 300ms ease-in-out 0s;
  outline: none;
  display: inline-block;
  padding: 0px;
  position: absolute;
  margin-left: -21px;
  color: #c6c6c3;
  font-size: 16px;
}

div.login-form input[type="text"]:focus,div.login-form input[type="password"]:focus {
  border-color: #c6c6c6;
}

div.login-form img {
  cursor: pointer;
}

div.login-form input.red[type="text"],div.login-form input.red[type="password"] {
  border-color: #c03;
}

div.login-form input[type="text"] +label.red ,div.login-form input[type="password"] +label.red {
  color: #c03;
}

div.login-form div#info.infoOK {
  display: table-caption;
  width: 100%;
}

div.login-form div#info.infoERROR {
  display: table-caption;
  width: 100%;
}

div.login-form div.hint {
  background-color: #fff;
  display: none;
  position: absolute;
  margin-left: 487px;
  border: 1px solid #EBEBEB;
  padding: 11px;
  border-radius: 2px;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
}

div.login-form div.hint hr {
  margin: 9px -11px;
  line-height: 1px;
  height: 1px;
  border: 0px;
  background-color: #ebebeb;
}

div.login-form div.hint i {
  width: 13px;
  margin-left: 4px;
}

div.login-form div.hint i.fa-times {
  color: #c03;
}

div.login-form div.hint i.fa-check, div.login-form div.hint i.fa-check +span {
  color: #999;
}

div.login-form div.hint i.fa-check.hid, div.login-form div.hint i.fa-check.hid +span {
  color: #999;
  display: none;
}

div.login-form div.hint span.hid span {
  font-weight: bold;
  font-size: 16px;
  display: none;
}

div.login-form div.hint span.hid span:nth-child(1) {
  color: #cc0033;
}

div.login-form div.hint span.hid span:nth-child(2) {
  color: #17a6e9;
}

div.login-form div.hint span.hid span:nth-child(3) {
  color: #008000;
}

div.login-form div.hint span.hid span.s {
  display: inline-block;
}
